#pesquisarLivro{
	-fx-background-image: url('../../../../../../resources/images/search-icon-resized.png');
}

#pesquisarUsuario{
	-fx-background-image: url('../../../../../../resources/images/search-icon-resized.png');
}

#labelSelecionado{
	-fx-font-weight: bold;
}
